    <ul class="nav nav-mytabs nav-fill" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#login" role="tab" aria-controls="home" aria-selected="true">Увійти</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#register" role="tab" aria-controls="profile" aria-selected="false">Реєстрація</a>
      </li>
    </ul>

  <div class="tab-content form" id="myTabContent">
    <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="home-tab">
      <form method="POST" action="/auth/login">
        <div class="form-group">
          <label for="emailLogin">Введіть свій Email</label>
          <input type="email" class="form-control" id="emailLogin" name="email" aria-describedby="emailHelpForLogin" required>
          <small id="emailHelpForLogin" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="passwordLogin">Введіть пароль</label>
          <input type="password" class="form-control" id="passwordLogin" name="password" required>
        </div>
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <button type="submit" class="btn btn-info">Увійти</button>
      </form>
    </div>

    <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="profile-tab">
      <form method="POST" action="/auth/register">
        <div class="form-group">
          <label for="nameRegister">Введіть своє ім'я</label>
          <input type="text" class="form-control" id="nameRegister" name="name" aria-describedby="nameHelp" required>
          <small id="nameHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="emailRegister">Введіть свій Emai</label>
          <input type="email" class="form-control" id="emailRegister" name="email" aria-describedby="emailHelpRegister" required>
          <small id="emailHelpRegister" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="password">Введіть пароль</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
          <label for="passwordConfirm">Введіть пароль ще раз</label>
          <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" required>
        </div>
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <button type="submit" class="btn btn-info">Зареєструваится</button>
      </form>
    </div>
  </div>
