    <ul class="nav nav-mytabs nav-fill" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#login" role="tab" aria-controls="home" aria-selected="true">Увійти</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#register" role="tab" aria-controls="profile" aria-selected="false">Реєстрація</a>
      </li>
    </ul>

  <div class="tab-content form" id="myTabContent">
    <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="home-tab">
      <form method="POST" action="/auth/login">
        <div class="form-group">
          <label for="exampleInputEmail1">Введіть свій Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Введіть пароль</label>
          <input type="password" class="form-control" id="exampleInputPassword1" required>
        </div>
        <button type="submit" class="btn btn-info">Увійти</button>
      </form>
    </div>

    <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="profile-tab">
      <form method="POST" action="/auth/register">
        <div class="form-group">
          <label for="exampleInputEmail1">Введіть свій Emai</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Введіть пароль</label>
          <input type="password" class="form-control" id="exampleInputPassword1" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword2">Введіть пароль ще раз</label>
          <input type="password" class="form-control" id="exampleInputPassword2" required>
        </div>
        <button type="submit" class="btn btn-info">Зареєструваится</button>
      </form>
    </div>
  </div>
