<h1>Введіть новий пароль</h1>
    
<div class="form">

    {{#if error}}
        <p class="alertt">{{error}}</p>
    {{/if}}

    <form method="POST" action="/auth/password">
        <div class="form-group">
            <label for="password">Введіть новий пароль</label>
            <input type="password" class="form-control" id="password" name="password" aria-describedby="emailHelpForLogin" required>
            <small id="emailHelpForLogin" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="passwordConfirm">Введіть пароль ще раз</label>
          <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" required>
          <small id="confirmHelpRegister" class="form-text text-muted"></small>
        </div>
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <input type="hidden" name="userId" value="{{userId}}">
        <input type="hidden" name="token" value="{{token}}">

        <button id="submitButton" type="submit" class="btn btn-info">Відновити пароль</button>
    </form>
</div>