<h1>Нова Медсестра</h1>

<div class="form">
    <form class="form-horizontal" method="POST" action="/addEmployee">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Ім'я</label>
                <input type="text" name="name" id="name" required>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="position">Посада</label>
            <input type="text" name="position" id="position">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="desc">Опис</label>
            <textarea rows="5" cols="40" name="desc" id="desc"></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-info mb-2">Зберегти</button>
        </div>
        <input type="hidden" name="_csrf" value="{{csrf}}">
    </form>
</div>