<h1>Виберіть медикамент і період за який Ви хочете подивитися розхід :</h1>



<div class="form">
    {{#if medicines.length}}
        <form method="POST" action="/OutReport">
            <div class="form-group">
                <label for="title">Медикаменти</label>
                <select name="id" class="form-control" id="title" required>

                    <option selected value="{{#each medicines}} {{id}} {{/each}}">Всі</option>

                    {{#each medicines}}
                            <option value="{{id}}">{{title}}</option>
                    {{/each}}

                </select>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="from">З :</label>
                <input type="date" id="from" name="from" required
                    value="2020-00-00"
                    min="2018-01-01" max="2030-12-31">
                <br>

                <label class="control-label col-sm-2" for="to">По :</label>
                <input type="date" id="to" name="to" required
                    value="2020-00-00"
                    min="2018-01-01" max="2030-12-31">
            </div>
            
            <div>
                <button type="submit" class="btn btn-info mb-2">Показати</button>
            </div>
        </form>

    {{else}}
        <h1>Медикаментів немає!</h1>
    {{/if}}
</div>