body {
    background-image: url('https://image.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.form {
    padding: 1rem;
    padding-top: 2rem;
    max-width: 500px;
}

.form-group a{
  color: rgb(55, 189, 160);
}

small.active {
  color: red;
}

.material-icons { transition: all .2s ease-in-out; }
.material-icons:hover { transform: scale(1.4); }

.alertt {
  margin: 1rem;
  background-color: rgba(255, 41, 41, 0.8);
  border-radius: 5px;
  color: white;
  text-align: center;
}
.pagin {
  display: flex;
  justify-content: right;
}

.success {
  margin: 1rem;
  background-color:#17a2b8;
  border-radius: 5px;
  color: white;
  text-align: center;
}


h1 {
    padding: 1rem;
}

h2 {
  padding-left: 1rem;
}

.table {
  padding-top: 1rem;
}

.auth {
    padding-top: 2rem;
}

.nav-mytabs {
    margin-top: 2rem;
  }
   
  .nav-mytabs li:not(:last-child) {
    margin-right: 7px;
  }
   
  .nav-mytabs a {
    position: relative;
    top: 4px;
    padding: 10px 25px;
    border-radius: 2px 2px 0 0;
    background: rgb(40, 69, 82);
    color: white;
    opacity: 0.7;
    transition: all 0.1s ease-in-out;
  }
   
  .nav-mytabs a.active, 
  .nav-mytabs a:hover {
    opacity: 1;
    top: 0;
  }
   
  .mytab-content {
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 0 4px 4px 4px;
    background: white;
  }
  
  @media screen and (max-width: 600px) {
    .nav-mytabs {
      flex-direction: column;
    }
       
    .nav-mytabs li {
      width: 100%;
    }
       
    .nav-mytabs li:not(:last-child) {
      margin-right: 0;
    }
       
    .nav-mytabs li a {
      border-radius: 0;
      opacity: 1;
      top: 0;
    }
       
    .nav-mytabs li.active a::before {
      content: '•';
      padding-right: 5px;
    }
       
    .mytabs-content {
      border-radius: 0;
    }
  }